<div class="container">
  <header>
    <picture class="logo">
      <img src="../assets/logo.png" class="logo" alt="Logo SmartOp" />
    </picture>
  </header>

  <div class="search">
    <input type="text" [formControl]="searchControl" placeholder="Search for a surgeon..." class="searching-bar">
  </div>

  <div class="table">
    <mat-card-content class="surgeon-table">
      <table matSort mat-table [dataSource]="dataSource" #tableElement matSort >
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">Name</th>
          <td
            mat-cell
            *matCellDef="let surgeons"
            (mouseenter)="onMouseEnter(surgeons.name)"
            (mouseleave)="onMouseLeave()"
            [ngClass]="{
              hovered: (surgeons.name == surgeonHovered) ? isHovered : false
            }"
          >
            {{ surgeons.name }}
          </td>
        </ng-container>

        <ng-container matColumnDef="speciality">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Speciality</th>
          <td
            mat-cell
            *matCellDef="let surgeons"
            (mouseenter)="onMouseEnter(surgeons.name)"
            (mouseleave)="onMouseLeave()"
            [ngClass]="{
              hovered: (surgeons.name == surgeonHovered) ? isHovered : false
            }"
          >
            {{ surgeons.specialty }}
          </td>
        </ng-container>

        <ng-container matColumnDef="interventionCount">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Numbers of Intervention</th>
          <td
            mat-cell
            *matCellDef="let surgeons"
            (mouseenter)="onMouseEnter(surgeons.name)"
            (mouseleave)="onMouseLeave()"
            [ngClass]="{
              hovered: (surgeons.name == surgeonHovered) ? isHovered : false
            }"
          >
            {{ surgeons.interventionCount }}
          </td>
        </ng-container>

        <ng-container matColumnDef="favoriteAnesthetist">
          <th mat-header-cell *matHeaderCellDef mat-sort-header >Fav. Anesthetist</th>
          <td
            mat-cell
            *matCellDef="let surgeons"
            (mouseenter)="onMouseEnter(surgeons.name)"
            (mouseleave)="onMouseLeave()"
            [ngClass]="{
              hovered: (surgeons.name == surgeonHovered) ? isHovered : false
            }"
          >
            {{ surgeons.favoriteAnesthetist }}
          </td>
        </ng-container>

        <ng-container matColumnDef="favoriteNurse">
          <th mat-header-cell *matHeaderCellDef mat-sort-header >Fav. Nurse</th>
          <td
            mat-cell
            *matCellDef="let surgeons"
            (mouseenter)="onMouseEnter(surgeons.name)"
            (mouseleave)="onMouseLeave()"
            [ngClass]="{
              hovered: (surgeons.name == surgeonHovered) ? isHovered : false
            }"
          >
            {{ surgeons.favoriteNurse }}
          </td>
        </ng-container>

        <ng-container matColumnDef="mostFrequentRoom">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by mostFrequentRoom">Fav. Room</th>
          <td
            mat-cell
            *matCellDef="let surgeons"
            (mouseenter)="onMouseEnter(surgeons.name)"
            (mouseleave)="onMouseLeave()"
            [ngClass]="{
              hovered: (surgeons.name == surgeonHovered) ? isHovered : false
            }"
          >
            {{ surgeons.mostFrequentRoom }}
          </td>
        </ng-container>

        <ng-container matColumnDef="mostFrequentProcedure">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by mostFrequentProcedure">Fav. Intervention</th>
          <td
            mat-cell
            *matCellDef="let surgeons"
            (mouseenter)="onMouseEnter(surgeons.name)"
            (mouseleave)="onMouseLeave()"
            [ngClass]="{
              hovered: (surgeons.name == surgeonHovered) ? isHovered : false
            }"
          >
            {{ surgeons.mostFrequentProcedure }}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" class="table--header"></tr>
        <tr mat-row *matRowDef="let surgeons; columns: displayedColumns" class="table--body"></tr>
      </table>

      <!-- <mat-paginator
          [pageSizeOptions]="[10]"
          showFirstLastButtons
          [length]="dataSource && dataSource.data.length"
        ></mat-paginator> -->

      </mat-card-content>
  </div>
</div>

